---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include site/setup %}
<div>
  <h2>
      我来自祖国的北方，如今生活在南方，但无论身在何处都思念儿时的故乡。故乡，上山可摘核桃、田里可吃瓜、水里可摸鱼的极致田园。故乡的水伴我度过了童年的大部分时光，春天的井水，夏天的河水，秋天的鲤鱼，冬天的冰块。之所以喜欢南方，是因为湿润的天气，仿佛自己仍身处故乡的水。
      现在，在南方一所小镇读博士，从事作物三维形态建模相关研究。
      
  </h2>
  <p class="about">
    我的经历
  </p>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="col-md-3"><i class="fa fa-github"></i><span>我的github</span></td>
        <td><a href="https://github.com/seawinder">seawinder · GitHub</a></td>
      </tr>
      <tr>

        <td class="col-md-3"><i class="fa fa-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="tigerone1235@gmail.com">seawinder · Gmail</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />

<div id="comment-hook"></div>
{% include site/comments %}
